.wrapper {
    margin: 10px;
    display: flex;
    background: white;
}

.colorSquare {
    height: 50px;
    width: 50px;
}

.text {
    text-align: left;
    padding: 0 1em;
    display: block;
    word-wrap: break-word;
    max-width: 380px;
    /*overflow: auto;*/
}