.wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.mainContainer {
    display: flex;
    /*flex-wrap: wrap;*/
    width: 100%;
    padding: 1.5em;
}

@media (max-width: 1280px) {
    .mainContainer{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
@media (min-width: 1280px) {
    .mainContainer{
        justify-content: center;
        gap: 3vw;
    }
}

@media (min-width: 840px) {
    .wrapper{
        justify-content: space-between;

    }

}
@media (max-width: 840px) {
    .wrapper{
        flex-direction: column;
    }
}